<% include ../partials/header %>

    <div class="row">
        <h1>Details of campground</h1>
        <div class="col-md-4">
            <p>
                <%=model.name%>
            </p>
            <img src="<%=model.image%>" />
            <p>
                <%=model.description%>
            </p>
            <a class="btn btn-block btn-primary" href="/campgrounds/<%=model._id%>/edit">Edit</a>
        </div>

    </div>